@{
    ViewData["Title"] = "View File Data";
}

<br/>
<div>
    <form asp-action="ConfirmDownloadFromUrl" asp-controller="Home" method="POST" >
        <label for=""> Confirm Target Url @ViewBag.TargetUrl </label><br/>
        <input type="hidden" name="target_url" value="@ViewBag.TargetUrl" >
        <input type="submit" name="ConfirmDownloadFromUrl" value="ConfirmDownloadFromUrl" ><br/>
    </form>
</div>